.careers-grid {
    margin-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.careers-overview {
    grid-row: 1;
    display: flex;
    column-gap: 2rem;
    padding: 2rem;
}

.careers-overview-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.careers-overview-content {
    padding: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.career-action-img {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    filter: brightness(0.7);
    
}

.career-action-content {
    z-index: 1;
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    width: 40%;
    margin-left: 2rem;
    color: white;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.4), 0 0 6px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.career-btn {
    width: 50%;
    margin-top: 1rem;
}

@media only screen and (max-width: 768px) {
    .careers-grid {
        margin-top: 3rem;
        background-color: #f5f5f5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto, 3);
    }

    .careers-overview {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .careers-overview-img,
    .careers-overview-img img {
        width: 100%;
    }
    
    .careers-overview-content {
        width: 90%;
    }

    .career-action-img {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        filter: brightness(0.7);
        
    }
    
    .career-action-content {
        grid-row: 2 / 4;
        width: 90%;
        margin-left: 0;
        color: black;
        text-shadow: unset;
        align-self: center;
        justify-self: center;
        margin-top: 35rem;
    }
    
    .career-btn {
        align-self: center;
        width: 80%;
    }
}