.footer-desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    background: rgba(19, 19, 19, .9);
    padding: 3rem;
}

.footer-col {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;

}

.footer-col h3 {
    color: white;
    font-size: 1.25rem;
    font-style: unset;
    margin-bottom: 1rem;
}

.footer-col a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.footer-col a:hover {
    color: rgba(244, 116, 6, 1);
}

.footer-col p {
    color: white;
    font-size: 1rem;
    font-style: italic;
    overflow-wrap: break-word;
}

.footer-logo {
    justify-self: center;

}

.footer-logo img {
    width: 100px;
}

.footer-wrapper-mobile {
    display: none;
    background-color: rgba(19, 19, 19, .9);
}

@media (max-width: 992px) {
    .footer-wrapper-desktop {
        display: none;
        visibility: hidden;
    }

    .footer-wrapper-mobile {
        display: flex;
    }

    .footer-mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .footer-logo {
        display: flex;
        justify-content: start;
        padding: 1.5rem;
    }

    .footer-logo img {
        min-width: 50px;
    }

    .footer-accordion {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .fa-tab {
        width: 100%;
    }

    .fa-tab-main {
        display: flex;
        border-top: 0.1rem solid #4e4e4e;
    }

    .fa-tab-button {
        width: 100%;
        background-color: white;
        display: flex;
    }

    .fa-button-title {
        width: 90%;
    }

    .fa-button-icon {
        width: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(244, 116, 6, 1);
    }

    .fa-button-icon i {
        font-size: 1rem;
    }

    .fa-button-icon>.fa-chevron-up {
        display: none;
    }

    .fa-tab-button button {
        width: 100%;
        height: 50px;
        text-align: left;
        padding: 2rem;
        border: none;
        background: rgba(19, 19, 19, .9);
        color: white;
        cursor: pointer;
        font-size: 1.25rem;
        display: flex;
        align-items: center;

    }

    .fa-tab-button button:hover {
        background: rgba(19, 19, 19, .8);
    }

    .fa-submenu {
        display: none;
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .fa-submenu a:hover {
        color: rgba(244, 116, 6, 1);
    }

    .fa-submenu.open {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .fa-submenu a {
        color: white;
        font-style: italic;
        text-decoration: none;
        margin-bottom: .5rem;
    }
}