/* TARIFFS PAGE STYLES */
.tariffs-flex {
    margin-top: 3rem;
    padding-bottom: 2rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tariff-row {
    width: 90%;
    background-color: white;
    margin-top: 2rem;
    border-radius: 8px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 2 2 3px #ccc;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.tariff-info {
    margin-top: 1rem;
    display: flex;
}

.tariff-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tariff-content p {
    margin-top: 1rem;
    font-size: 20px;
    text-align: center;
}

.tariffs {
    width: 65%;
    display: flex;
}

.tariff-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem;
}

.tariff-item {
    margin-top: 1rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 2 2 3px #ccc;
}

.tariff-name {
    text-align: center;
    border-bottom: .2rem solid rgba(244, 116, 6, 1);
    font-size: 18px;
    font-style: italic;
}

.tariff-options {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    column-gap: .5rem;

}

.tariff-link {
    width: 45%;
    background-color: rgb(243, 132, 35);
    color: white;
    text-align: center;
    padding: .1rem;
    border-radius: 8px;
    text-decoration: none;
}

/* TARIFFS PAGE STYLES - MOBILE */
@media only screen and (max-width: 992px) {
    .tariff-info {
        flex-direction: column;
    }

    .tariff-row {
        width: 100%;
        border-radius: 0px;
    }

    .tariff-content {
        width: 100%;
    }

    .tariffs {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .tariff-row {
        padding: 1rem;
    }
    .tariffs {
        flex-direction: column;
    }

    .tariff-options {
        flex-direction: column;
    }

    .tariff-col {
        width: 100%;
        padding: 0;
    }

    .tariff-link {
        margin-top: 1rem;
        width: 100%;
    }
}